@page "/diseases"
@using MauiApp1.Components.Component
@using MauiApp1.Models

<div class="page-wrapper">
    <h2 class="title text-center">โรคติดต่อทางเพศสัมพันธ์</h2>
    <p class="subtitle text-center mb-5">
        รวบรวมข้อมูลโรค อาการ สาเหตุ และการป้องกัน เพื่อสุขภาพที่ปลอดภัย
    </p>

    <div class="row g-4">
        <CardComponent Items="@_diseases" />
    </div>
</div>

@code 
{
    private List<Disease> _diseases = new()
       {
        new Disease 
        { 
            Name =  "ซิฟิลิส (Syphilis)",
            Symptom = "ซิฟิลิสเป็นโรคติดต่อทางเพศที่เกิดจากเชื้อแบคทีเรีย Treponema pallidum มีอาการหลายระยะ เช่น แผลริมแข็ง ผื่นตามร่างกาย หากไม่รักษาอาจลุกลามไปยังระบบประสาทและหัวใจได้",
        },
        new Disease
        {
            Name =  "เอชไอวี (HIV/AIDS)",
            Symptom = "ไวรัสที่ทำลายระบบภูมิคุ้มกัน ทำให้ติดเชื้ออื่นได้ง่าย ติดต่อผ่านเลือด เพศสัมพันธ์ และแม่สู่ลูก ",
        },
        new Disease
        {
            Name =  "เริมที่อวัยวะเพศ (Genital Herpes)",
            Symptom = "เกิดจากเชื้อไวรัส Herpes simplex type 2 ทำให้เกิดตุ่มใสที่อวัยวะเพศ เจ็บปวด ติดต่อได้ง่ายและกลับมาเป็นซ้ำได้",
        },
        new Disease
        {
            Name =  "หนองในแท้ (Gonorrhea)",
            Symptom = "เกิดจากเชื้อแบคทีเรีย Neisseria gonorrhoeae โรคหนองในอาจไม่มีอาการแสดง อาการแสดงอาจมีหลากหลายขึ้นกับตำแหน่งหรืออวัยวะที่มีการติดเชื้อ เช่น ท่อปัสสาวะ บริเวณอวัยวะสืบพันธุ์  และทวารหนัก",
        },


    };

    
}
<div class="text-center mt-4">
    <a href="/" class="btn-submit">⬅️ กลับหน้าแรก</a>
</div>

    <style>
    .btn-submit {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 0;
        width: 100%;
        background: #ff4da6;
        border: none;
        border-radius: 10px;
        color: #fff !important;
        font-weight: 600;
        font-size: 15px;
        cursor: pointer;
        transition: background 0.3s ease;
        text-decoration: none;
    }

        .btn-submit:hover {
            background: #e63399;
        }


    </style>