@page "/diseases"
@using MauiApp1.Components.Component
@using MauiApp1.Models

<h3>diseases</h3>
<CardComponent Items="@_diseases" />

@code 
{
    private List<Disease> _diseases = new()
       {
        new Disease 
        { 
            Name =  "ซิฟิลิส (Syphilis)",
            Symptom = "ซิฟิลิสเป็นโรคติดต่อทางเพศที่เกิดจากเชื้อแบคทีเรีย Treponema pallidum มีอาการหลายระยะ เช่น แผลริมแข็ง ผื่นตามร่างกาย หากไม่รักษาอาจลุกลามไปยังระบบประสาทและหัวใจได้",
        },
        new Disease
        {
            Name =  "เอชไอวี (HIV/AIDS)",
            Symptom = "ไวรัสที่ทำลายระบบภูมิคุ้มกัน ทำให้ติดเชื้ออื่นได้ง่าย ติดต่อผ่านเลือด เพศสัมพันธ์ และแม่สู่ลูก ",
        },
        new Disease
        {
            Name =  "เริมที่อวัยวะเพศ (Genital Herpes)",
            Symptom = "เกิดจากเชื้อไวรัส Herpes simplex type 2 ทำให้เกิดตุ่มใสที่อวัยวะเพศ เจ็บปวด ติดต่อได้ง่ายและกลับมาเป็นซ้ำได้",
        },
        new Disease
        {
            Name =  "หนองในแท้ (Gonorrhea)",
            Symptom = "เกิดจากเชื้อแบคทีเรีย Neisseria gonorrhoeae มีอาการปัสสาวะแสบขัด ตกขาวผิดปกติ อาจไม่มีอาการในผู้หญิง หากปล่อยไว้อาจทำให้เป็นหมันได้",
        },


    };

    
}
